huggingface_hub
numba
numpy>=1.22
onnx>=1.7.0
python-dateutil
ruamel.yaml
scikit-learn
setuptools==65.5.1
tensorboard
text-unidecode
torch
tqdm>=4.41.0
wget
wrapt
braceexpand
editdistance
g2p_en
inflect
ipywidgets
jiwer
kaldi-python-io
kaldiio
librosa>=0.9.0
marshmallow
matplotlib
packaging
pyannote.core
pyannote.metrics
pydub
ruamel.yaml
scipy>=0.14
soundfile
sox
texterrors